main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #0c171d;
  --secondary: #23b5d3;
  --tertiary: #75abbc;
  --quatrinary: #a2aebb;
  --light: #dfe0e2;
  --dark: #11262d;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: #111111;
  font-family: 'Poiret One';
}

img {
  max-width: 100%;
}

.self-portrait {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

h1,
h2,
h3,
p {
  color: rgba(245, 245, 245, 0.87);
}

.about {
  text-align: center;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  width: 40rem;
  height: 40rem;
}

.download-resume {
  display: flex;
  flex-direction: column;
}

.resume-button {
  width: 10rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #23b5d3;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.footer-atag {
  text-decoration: none;
}

.social-links {
  margin: 2rem;
  width: 4rem;
}

ul {
  list-style-type: none;
}

.about {
  border: 1px solid #23b5d3;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.3rem 0.5rem rgba(35, 181, 211);
}

@media screen and (min-width: 1979px) {
  .resume {
    width: 60rem;
    height: 60rem;
  }
}

@media screen and (max-width: 577px) {
  .resume {
    width: 15rem;
    height: 20rem;
  }
}
