.project-item {
  margin: 1rem;
  width: calc(65% - 2rem);
  min-width: 17.5rem;
}

.project-item a {
  display: flex;
  align-items: center;
  width: 95%;
  text-decoration: none;
  padding: 0.5rem;
  color: rgba(245, 245, 245, 0.87);
  background: #292929;
  margin: 1rem 1rem;
}

.project-item a:hover,
.project-item a:active {
  background: #2f2f2a;
}

.project-item__content {
  padding: 0;
}

.project-item__image {
  width: 100%;
  height: 100%;
  margin-right: 1rem;
}

.project-item__info h2 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}

.project-item__info h3 {
  margin: 0;
}
