.project-item {
  margin: 1rem;
  width: calc(65% - 2rem);
  min-width: 17.5rem;
}

.project-item a {
  display: flex;
  align-items: center;
  width: 95%;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  background: #dbcbd8;
  margin: 1rem 1rem;
  justify-content: center;
}

.project-item a:hover,
.project-item a:active {
  background: #f2fdff;
}

.project-item__content {
  padding: 0;
}

.project-item__image {
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.project-item__info h2 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}

.project-item__info h3 {
  margin: 1rem;
  font-weight: normal;
}

@media screen and (max-width: 577px) {
  .project-item__info h3 {
    font-size: 1rem;
  }
}
